<article class="post">
    <div class="title">
        <a href='/post/{{id}}'>{{title}}</a>
    </div>
    <div class="meta">
        Posted By User: {{user.username}} on {{dateFormat created_at}} | {{comments.length}} {{wordFormat "comment" comments.length}}
    </div>
</article>