<article class='post'>
    <div class='title'>
        <a href='/post/{{post.id}}'><h1>{{post.title}}</h1></a>
    </div>
    <p>{{post.post_text}}</p>
    <div class='meta'>Written By {{post.user.username}}</div>
    <div class='meta'><i>{{dateFormat post.created_at}}</i></div>
    <div class='meta'>{{post.comments.length}} {{wordFormat "comment" post.comments.length}}</div> 
    
</article>

{{> comments post.comments}}

{{#if loggedIn}}
<form class='comment-form'>
    <div>
        <textarea name='comment-body' placeholder="leave a comment"></textarea>
    </div>
    <div>
        <button type='submit'>Add a Comment</button>
    </div>
</form>
<script src="/javascript/comment.js"></script>
{{/if}}