<article>
  <a href="/dashboard"> &larr; Back to Dashboard</a>
  <h2>
    Edit Blog Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
        by you on: {{dateFormat post.created_at}} | {{post.comments.length}} {{wordFormat "comment" post.comments.length}} | <a href="/post/{{post.id}}">view post</a>
    </div>
    <button type="submit">Save Your Changes</button>
    <button type="button" class="delete-post-btn">Delete This Post</button>
  </form>
</article>

{{> comments post.comments}}

{{!-- text box where user can input a comment --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="comment"></textarea>
  </div>

  {{!-- Confirm add comment button --}}
  <div>
    <button type="submit">Add A Comment</button>
  </div>
</form>

<script src="/javascript/delete-blogpost.js"></script>
<script src="/javascript/edit-blogpost.js"></script>
<script src="/javascript/comment.js"></script>